# Server Addresses
gw_servers: ['localhost']
mq_servers: ['localhost']

# Gateway Configurations
gw_port: 5800

# Message Queue Configurations
mq_inport: 6000
mq_outport: 5900

# Room Server Configuration
client_per_room : 6
initial_room_count : 10
